div.circle-avatar{
/* make it responsive */
max-width: 80%;
width:80%;
height:auto;
display:block;
/* div height to be the same as width*/
padding-top:80%;

/* make it a circle */
border-radius:50%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimension to fill div */
background-size: cover;

/* it is optional, for making this div centered in parent*/
margin: 0 auto;
top: 10;
left: 10;
right: 10;
bottom: 10;
}